* {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 36px;
    background-color: antiquewhite;
}

.corpo {
    display: flex;
    flex-direction: row;
}

.div3 {
    width: 100px;
    background-color: antiquewhite;
}
.div4 {
    width: 100px;
    display: flex;
    justify-content: center;
}

button {
    height: 70px;
    width: 100px;
}
h1 {
    display: flex;
    align-items: center;
}
