<form [formGroup]="formulario" (ngSubmit)="cadastra()">
<div class="campo">
  <label>Nome</label>
  <input type="text" formControlName="nome">
</div>
<div class="campo">
  <label>Email</label>
  <input type="text" formControlName="email">
</div>
<div class="campo">
  <label>Fone</label>
  <input type="text" formControlName="fone">
</div>
<div class="campo">
  <button [disabled]="!formulario.valid">cadastrar</button>
</div>
</form>

<!-- <div class="campo">
  <label>Nome</label>
  <input type="text" [(ngModel)]="nomeInput">
</div>
<div class="campo">
  <label>Email</label>
  <input type="text" [(ngModel)]='emailInput'>
</div>
<div class="campo">
  <label>Fone</label>
  <input type="text" [(ngModel)]='foneInput'>
</div>
<div class="campo">
  <button (click)='cadastra()'>cadastrar</button>
</div> -->
